@model DateTime?

@{
    Layout = "_Layout";
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row mt-5">
        <div class="col-12">
            <div class="row">
                <div class="offset-3 col-3 text-right">
                    Imię i nazwisko:
                </div>
                <div class="col-3 text-left">
                    <strong>
                        Rafał Chorzępa
                    </strong>
                </div>
            </div>
            <div class="row">
                <div class="offset-3 col-3 text-right">
                    Grupa:
                </div>
                <div class="col-3 text-left">
                    <strong>
                        lab2
                    </strong>
                </div>
            </div>
        </div>
    </div>
</div>