@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

<div class="row mb-5">
    <div class="col-12">
        <a asp-action="New" class="btn btn-primary btn-sm">
            <i class="fa fa-plus"></i> Create new customer
        </a>
    </div>
</div>

<div class="row">
    <div class="col-12 position-relative">
        <table id="customers" class="table table-hover table-sm">
            <thead>
                <tr>
                    <th>Customer</th>
                    <th>Discount Rate</th>
                    <th>Membership type</th>
                    <th style="width: 20%">Actions</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

@section scripts {
    <script src="~/js/customers.js" asp-append-version="true"></script>
}
